language: node_js
node_js:
  - 0.4.12
  - 0.6
before_install:
  - git submodule init && git submodule --quiet update
  - ./support/ci/neo4j.sh
before_script:
  - "mysql -e 'create database myapp_test;'"
  - "psql -c 'create database myapp_test;' -U postgres"
  - mongo mydb_test --eval 'db.addUser("travis", "test");'
